@import "fonts";

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/typography/links";
@import "compass/utilities/color/contrast";

@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  ::-webkit-scrollbar-track {
    background: $secondary;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}


@import "vars";
@import "layout";
@import "input";
@import "defaults";
@import "branding";

@include scrollbar(6px, $tertiary-color);

@import "partials/sidebar";
@import "partials/header";
@import "partials/footer";
