* {
  box-sizing: border-box;
  outline: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background: $background-color;
  font-family: $base-font;
  color: $font-color;
}

a {
  @include unstyled-link();
  @include link-colors($font-color, lighten($font-color, 10%), lighten($font-color, 20%));

  font-family: $link-font;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: $base-font-size + 12px;
}

h2 {
  font-size: $base-font-size + 6px;
}

h3 {
  font-size: $base-font-size + 3px;
}

h4 {
  font-size: $base-font-size + 2px;
}

h5 {
  font-size: $base-font-size + 1px;
}

h6 {
  font-size: $base-font-size;
}

table {
  @include box-shadow(0px 1px 1px lighten($primary-color, 40%));

  width: 100%;

  td, th {
    padding: 10px 15px;
  }

  thead {
    background: $background-color;

    th {
      border-bottom: 1px solid lighten($primary-color, 75%);
      font-family: $skinny-font;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  tbody {
    tr {
      &[ng-click] {
        cursor: pointer;
      }

      &:hover {
        background: $hightlight-color;
      }
    }

    td {
      font-size: $base-font-size - 2px;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid lighten($primary-color, 50%);

  &.invert {
    border-top: 1px solid contrast-color(lighten($secondary-color, 50%));
  }
}

dl {
  width: 100%;
  padding: 0 15px;

  dt, dd {
    display: inline-block;
    margin: 0 -2px;
    margin-top: 5px;
    width: 50%;
    font-weight: 300;
  }

  dt {
    font-family: $skinny-font;
    font-weight: 300;
  }

  dd {
    text-align: right;
  }
}

small {
  font-size: $base-font-size - 4px;
  color: lighten($font-color, 50%);
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-height: 100%;
}

.container {
  @include box-shadow(0px 1px 1px lighten($primary-color, 40%));

  @extend .row;

  background: $secondary-color;
  width: 100%;
  margin: 0;
}

.section-main {
  @include inline-block(top);

  width: 100% - $sidebar-width;
  overflow-y: auto;

  > div {
    overflow-y: auto;
  }
}

.detail {
  @include box-shadow(0px 1px 2px lighten($primary-color, 60%));

  background: darken($secondary-color, 4%);
  padding: 10px 15px;
}

.hightlight:hover {
  background: $hightlight-color;
  color: lighten($font-color, 2%);
}

.hide {
  display: none !important;
}

.hide-animate {
  height: 0 !important;
  overflow: hidden;
}

.standard {
  padding: 40px;
}

.page-section {
  background: $tertiary-color;
  color: $font-color-light;
  padding: 40px;
}

div, p {
  &.success,
  &.error {
    font-family: $skinny-font;
    font-weight: bold;
    padding: 10px 15px;
  }

  &.success {
    background: $success-color;
    color: $secondary-color;
  }

  &.error {
    background: $error-color;
    color: $secondary-color;
  }
}

.indicator {
  @include border-radius(10px);

  background: $primary-color;
  color: contrast-color($primary-color);
  border: 2px solid lighten($primary-color, 5%);
  padding: 5px;
  font-family: $skinny-font;
  font-weight: bold;
  font-size: $base-font-size - 6px;
  text-transform: uppercase;

  &.success {
    background: $success-color;
    color: contrast-color($success-color);
    border: 2px solid lighten($success-color, 5%);
  }
}
