// Colors

$background-color: #e3e3e3;

$primary-color: #1E1E23;
$secondary-color: #ffffff;
$tertiary-color: #226D50;


$font-color-dark: #333;
$font-color-light: #ccc;
$font-color: $font-color-dark;

$success-color: #298436;
$error-color: #D05252;
$hightlight-color: #FFFDAE;

// Fonts
$base-font: "Open Sans", sans-serif;
$link-font: $base-font;
$logo-font: "Lato", sans-serif;
$skinny-font: "Lato", sans-serif;

$base-font-size: 16px;

$base-padding: 15px 10px;

// Dimensions
$sidebar-width: 20%;
$header-height: 52px;

// Branding
$brand-color: #D01316;
$admin-color: $brand-color;

$icon-small: 16px;
$icon-medium: 24px;
$icon-large: 32px;

$heart-icon: \u2665;

// Input
$input-height: 35px;
