@import "base";

.page-section {
  .logo {
    transform: scale(1.5);
  }

  h1 {
    text-align: center;
  }

	&.what-we-do {
    background: linear-gradient(to bottom right, color-stops(lighten($primary-color, 20%) 10%, $primary-color));
		min-height: 500px;

		h1 {
			font-size: $base-font-size + 20px;
			margin-top: 100px;
		}

		p {
			font-size: $base-font-size + 2px;
			margin-top: 20px;
		}

		h1, p {
			text-shadow: 1px 2px 2px darken($font-color, 80%);
			margin-left: 15%;
		}

		img, .button {
			@include box-shadow(1px 2px 10px darken($font-color, 60%));
		}
	}

  &.whats-the-big-idea {
    background: $primary-color;
    color: contrast-color($primary-color);
  }

	&.how-help-you {
		background: $secondary-color;
		color: $font-color;
		min-height: 400px;

    h1 {
      text-align: center;
    }
	}
}
