.page-section {
	&.who-are-we {
		@include text-shadow(0px 1px 2px invert(contrast-color(desaturate($brand-color, 30%))));

		background: desaturate($brand-color, 30%);
		color: contrast-color(desaturate($brand-color, 30%));
	}

	&.what-we-do {
		background: $tertiary-color;
	}

	&.how-can-you {
		background: $secondary-color;
		color: $font-color;
	}
}