// bower:scss
// endbower

@import "base";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: $background-color;
  font-family: $base-font;
  min-height: 100%;
}

header {
  @include clearfix();

  background: $tertiary-color;

  ul.nav {
    margin: 0;
    list-style-type: none;
    float: right;

    li {
      @include inline-block();

      &:hover {
        @include transition(background 200ms);

        background: lighten($tertiary-color, 5%);
      }

      &:active,
      &.active {
        background: lighten($tertiary-color, 15%);
      }

      a {
        @include link-colors($font-color-light, lighten($font-color-light, 10%));

        display: block;
        padding: 20px;
        text-transform: uppercase;
        font-size: $base-font-size - 4px;
      }
    }
  }
}

footer {
  margin: 40px 0;
  color: invert($background-color);
  text-align: center;
  font-size: $base-font-size - 2px;
}

hr {
  border: none;
  border-top: 1px solid lighten(invert($secondary-color), 40%);

  &.invert {
    border-top: 1px solid darken(invert($primary-color), 40%);
  }
}

.container {
  @include box-shadow(0px 1px 1px lighten($primary-color, 40%));

  @extend .row;

  background: $secondary-color;
  width: 100%;
  margin: 0;
}

.sidebar {
  background: $primary-color;
  width: $sidebar-width;
  padding: 20px 10px;

  .sidebar-links {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;

    li {
      a {
        @include link-colors(invert($primary-color), lighten(invert($primary-color), 20%));
        @include transition(background 200ms);

        display: block;
        padding: 10px;
        font-family: $skinny-font;
        font-size: $base-font-size + 4px;
        font-weight: 300;
        border-bottom: 1px solid darken(invert($primary-color), 70%);

        &:hover {
          background: lighten($primary-color, 5%);
          border-bottom: 1px solid darken(invert($primary-color), 20%);
        }

        &:active,
        &.active {
          background: lighten($primary-color, 15%);
        }
      }
    }
  }
}

.section-main {
  @include inline-block(top);

  background: $secondary-color;
  color: invert($secondary-color);
  width: 100% - $sidebar-width;
  padding: 40px;
}
