footer {
  margin: 40px 0;
  color: invert($background-color);
  text-align: center;
  font-size: $base-font-size - 2px;

  .rebecca {
  	background: #663399;
  	background: rebeccapurple;
  	width: 1px;
  	height: 1px;
  	margin-right: 10px;
  }
}
