.sidebar {
  background: $primary-color;
  width: $sidebar-width;
  padding: 20px 10px;

  ul {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;

    li {
      a {
        @include link-colors(invert($primary-color), lighten(invert($primary-color), 20%));
        @include transition(background 200ms);

        display: block;
        padding: 10px;
        font-family: $skinny-font;
        font-size: $base-font-size + 4px;
        font-weight: 300;
        border-bottom: 1px solid darken(invert($primary-color), 70%);

        &:hover {
          background: lighten($primary-color, 5%);
          border-bottom: 1px solid darken(invert($primary-color), 20%);
        }
      }

      &.active {
        a {
          background: lighten($primary-color, 15%);
        }
      }

      &[ng-menu].active {
        a {
          background: lighten($primary-color, 5%);
        }
      }

      &.user {
        margin-bottom: 30px;

        a {
          @include link-colors($primary-color, lighten($primary-color, 20%));

          background: invert($primary-color);
          border-bottom: 1px solid darken($primary-color, 70%);

          &:hover {
            background: lighten(invert($primary-color), 5%);
          }
        }

        &.no-space,
        &.active[ng-menu] {
          margin-bottom: 0 !important;
        }

        &.active {
          a {
            background: lighten(invert($primary-color), 15%);
          }
        }
      }

      &.submenu {
        ul {
          width: 100%;
          margin: 0;

          li {
            a {
              @include link-colors(darken(invert($primary-color), 10%), lighten(invert($primary-color), 10%));

              background: lighten($primary-color, 10%);
              font-size: $base-font-size - 2px;

              &:hover {
                background: lighten($primary-color, 15%);
              }
            }

            &.active {
              a {
                background: lighten($primary-color, 25%) !important;
              }
            }
          }
        }
      }
    }
  }
}
