$sidebar-color: $tertiary-color;

.sidebar {
  @include box-shadow(0px 2px 2px lighten($sidebar-color, 20%));

  background: linear-gradient(to bottom, color-stops(#333, #6c3573 25%, #7db9e8));

  width: $sidebar-width;
  padding: 20px 10px;
  overflow-y: auto;

  ul {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;

    li {
        a {
          @include link-colors(contrast-color($sidebar-color), lighten(contrast-color($sidebar-color), 20%));
          @include transition(background 400ms);

          display: block;
          background: $primary-color;
          cursor: pointer;
          padding: 10px;
          font-family: $skinny-font;
          font-size: $base-font-size + 4px;
          font-weight: 300;

          &:hover {
            background: lighten($sidebar-color, 5%);
          }
      }

      &.active {
        a {
          background: lighten($sidebar-color, 15%);
          color: lighten(contrast-color($sidebar-color), 30%)
        }
      }

      &[ng-menu] {
        a {
          &:after {
            @include clearfix();

            float: right;
            content: " \2630";
            color: contrast-color($primary-color);
          }
        }
      }

      &[ng-menu].active {
        a {
          background: lighten($sidebar-color, 5%);
          border-bottom: 3px solid $sidebar-color;
          font-weight: 300;

          &:after {
            color: contrast-color(lighten($sidebar-color, 5%));
          }
        }
      }

      &.user, &.admin {
        margin-bottom: 30px;

        &+li.submenu {
          margin-bottom: 10px;
        }

        a {
          @include link-colors(contrast-color($secondary-color), darken(contrast-color($secondary-color), 20%));

          background: $secondary-color;

          &:hover {
            background: darken($secondary-color, 5%);
          }
        }

        &[ng-menu] {
          a {
            &:after {
              color: contrast-color($secondary-color);
            }
          }
        }

        &.no-space,
        &.active[ng-menu] {
          margin-bottom: 0 !important;
          color: contrast-color($sidebar-color);
        }

        &.active {
          a {
            background: darken($secondary-color, 15%);
          }
        }
      }

      &.admin {
        margin: 0;

        a {
          background: $admin-color;
          @include link-colors(contrast-color($admin-color), lighten(contrast-color($admin-color), 15%));

          &:hover {
            background: lighten($admin-color, 5%)
          }
        }

        &[ng-menu] {
          a {
            &:after {
              color: contrast-color($admin-color);
            }
          }
        }

        &.active {
          a {
            background: lighten($admin-color, 15%);
          }
        }
      }

      &.submenu {
        ul {
          width: 100%;
          margin: 0;

          li {
            a {
              @include link-colors(darken(contrast-color($sidebar-color), 10%), lighten(contrast-color($sidebar-color), 10%));

              background: lighten($sidebar-color, 10%);
              font-size: $base-font-size - 2px;

              &:hover {
                background: lighten($sidebar-color, 15%);
              }
            }

            &.active {
              a {
                background: lighten($sidebar-color, 25%);
              }
            }
          }
        }
      }
    }
  }
}

.mobile {
  .sidebar {
    @include transition(left 100ms);

    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 75%;
    max-width: 75%;
    z-index: 99999;
    overflow-x: hidden;
  }
}
