<section class="page-section what-we-do">
	<div class="row">
		<div class="logo center">
			<i class="heart beat large"></i> Helt
		</div>
	</div>

	<div class="row">
		<div class="row vertical two-thirds">
      <h1>Lorem ipsum dolar sit amet.</h1>
			<!-- <h1>Simple Gym &amp; Food Tracking</h1> -->

      <p>Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.</p>
      <p>Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.</p>
			<!-- <p>Helt can help you track <strong>diet &amp; exercise progression</strong> with the help of your gym.</p>
			<p>Manage <strong>gym subscriptions</strong>, track your <strong>daily workout</strong>, record daily <strong>food intake</strong>, and Helt will show you your progression.</p> -->
		</div>

		<div class="third">
			<img class="right" src="http://placehold.it/300x300/ffffff" />
		</div>
	</div>

	<div class="row spaced" ng-if="!app.user.id">

		<div class="full">
			<a href="/#/user/register" class="button round xlarge success third block center">First Month's On Us</a>
		</div>
	</div>
</section>

<section class="page-section how-can-you">
	<!-- <h1>How Can You Do This</h1> -->
  <h1>Lorem ipsum dolar sit amet.</h1>

  <hr />

	<div class="row">
    <div class="detail">
      <h2>Hello World</h2>

      <hr />

      <p>Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.</p>
    </div>

    <div class="detail">
      <h2>Hello World</h2>

      <hr />

      <p>Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.</p>
    </div>

    <div class="detail">
      <h2>Hello World</h2>

      <hr />

      <p>Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet. Lorem ipsum dolar sit amet.</p>
    </div>
	</div>
</section>

<!-- <section class="page-section who-are-we">
	<div class="row">
		<h1 class="center">Who Are We</h1>
	</div>

	<div class="row">

	</div>
</section>
 -->
