<section class="page-section what-we-do">
	<div class="row">
		<div class="logo center">
			<i class="heart beat large"></i> Helt
		</div>
	</div>

	<div class="row">
		<div class="third">
			<img class="block center" src="http://placehold.it/300x400" />
		</div>

		<div class="third">
			<img class="block center" src="http://placehold.it/300x400" />
		</div>

		<div class="third">
			<img class="block center" src="http://placehold.it/300x400" />
		</div>
	</div>
</section>

<section class="page-section how-can-you">
	<h1>How Can You Do This</h1>

	<div class="row">
		<a class="button xlarge success third block">Join Now</a>
	</div>
</section>

<section class="page-section who-are-we">
	<div class="row">
		<h1 class="center">Who Are We</h1>
	</div>

	<div class="row">
		<p>
			Lorem ipsum dolar sit amet.
			<img class="right" src="http://placehold.it/100x100" />
		</p>
	</div>
</section>