<section class="page-section what-we-do">
	<div class="row">
		<div class="logo center">
			<i class="heart beat large"></i> Helt
		</div>
	</div>

	<div class="row">
		<div class="row vertical two-thirds small-full">
			<h1>Simple Gym &amp; Food Tracking</h1>

			<p><strong class="brand">Helt</strong> can help you track <strong>diet &amp; exercise progression</strong> with the aim to show you exactly what you are doing with your body.</p>
			<p>Track your <strong>daily workout</strong>, record <strong>food intake</strong>, and <strong class="brand">Helt</strong> will show you your progression.</p>
		</div>

		<div class="third">
			<img class="right" src="http://placehold.it/300x300/ffffff" />
		</div>
	</div>

	<div class="row spaced" ng-if="!app.user.id">
		<div class="full">
			<a href="/#/user/register" class="button round xlarge success third block center">Get Started</a>
		</div>
	</div>
</section>

<section class="page-section how-help-you">
	<h1>How Does This Help?</h1>

  <hr />

  <div class="row vertical spaced">
    <div class="three-quarter center">
      <div class="row">
        <div class="quarter">
          <img class="circle" src="http://placehold.it/200x200/333333" />
        </div>
        <div class="three-quarter middle">
          <h2>Visual Data</h2>

          <hr />

          <p>We've found that the biggest cause associated with weight gain/loss is a lack of calorie control. Weight loss is achieved by <strong>taking in less calories (energy) than you burn</strong>. When presented with data, showing your efforts, we believe people will make conscious efforts to maintain proper control.</p>

          <p>The beauty of <strong class="brand">Helt</strong> is that it can calculate approximately how many calories you need per day, and help you track it. It can give you estimations of weight loss based on a few pieces of data you provide for us.</p>
        </div>
      </div>

      <div class="row spaced">
        <div class="three-quarter middle">
          <h2>Scientific Calculation</h2>

          <hr />

          <p><strong class="brand">Helt</strong> uses an equation called the <strong><a href="http://www.ncbi.nlm.nih.gov/pubmed/2305711">Mifflin Equation for Weight Control</a></strong>. This is the most accurate method for calculating resting energy expenditure in healthy individuals. We combine this equation with energy expenditure from exercise to predict your weight loss.</p>
        </div>

        <div class="quarter">
          <img class="right circle" height="200" src="/images/mifflin.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section whats-the-big-idea">
	<h1 class="center">What's the Catch?</h1>

  <hr />

	<div class="row vertical spaced">
    <div class="three-quarter center">
      <div class="row">
        <div class="quarter">
          <img class="circle" src="http://placehold.it/200x200/eeeeee" />
        </div>

        <div class="three-quarter middle">
          <h2>Subscription Fee</h2>

          <hr />

          <p>In order to keep <strong class="brand">Helt</strong> free of banner ads, we ask for a very small subscription fee of <strong>{{ 0.99 | currency }} per month</strong>. This is the equivilent of a third of a cup of coffee, or a chocolate bar, which you probably shouldn't have anyway.</p>
        </div>
      </div>
    </div>

    <div class="three-quarter center">
      <div class="row">
        <div class="three-quarter middle">
          <h2>Effort</h2>

          <hr />

          <p>To get full use out of <strong class="brand">Helt</strong>, a small amount of effort is required every day to log accurate data. This takes <strong>5 minutes</strong> of your time but is immensely beneficial to you.</p>
        </div>

        <div class="quarter">
          <img class="right circle" src="http://placehold.it/200x200/eeeeee" />
        </div>
      </div>
    </div>
  </div>
</section>

