<a href="/#/home" class="logo">
  <i class="heart beat large"></i> Helt
</a>

<ul ng-route-watch>
  <li class="admin" ng-if="app.user && app.user.isSuperUser()" ng-menu="admin-child">
    <a href="javascript://">Admin</a>
  </li>

  <li class="submenu hide-animate" data-menu="admin-child">
    <ul>
      <li><a href="/#/admin/user">Users</a></li>
      <li><a href="/#/admin/gym">Gyms</a></li>
      <li><a href="/#/admin/product">Products</a></li>
      <li ng-menu="money-child"><a href="javascript://">Money</a></li>

      <li class="submenu hide-animate" data-menu="money-child">
        <ul>
          <li><a href="/#/admin/money">Dashboard</a></li>
          <li><a href="/#/admin/sales">Sales</a></li>
          <li><a href="/#/admin/refund">Refund</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="user" ng-if="app.user.id" ng-menu="user-child">
    <a href="javascript://">{{ app.user.name }}</a>
  </li>

  <li class="submenu hide-animate" data-menu="user-child">
    <ul>
      <li><a href="/#/user/account">Account</a></li>
      <li><a href="/#/user/subscriptions">Subscriptions</a></li>
      <li><a href="/#/authentication/logout">Logout</a></li>
    </ul>
  </li>

  <li class="user" ng-if="!app.user.id" ng-class="{'no-space': !app.user.id}">
    <a href="/#/authentication/login">Login</a>
  </li>

  <li class="user" ng-if="!app.user.id">
    <a href="/#/user/register">Register</a>
  </li>

  <li>
    <a href="/#/">Home</a>
  </li>

  <li ng-if="app.user.id">
    <a href="/#/dashboard">Dashboard</a>
  </li>

  <li ng-if="app.user.id" ng-menu="gym-child">
    <a href="javascript://">Gym</a>
  </li>

  <li class="submenu hide-animate" data-menu="gym-child">
    <ul ng-if="!app.user.gymId">
      <li><a href="/#/gym/find">Find a Gym</a></li>
    </ul>

    <ul ng-if="app.user.gymId">
      <li><a href="/#/user/{{ app.user.id }}/gym/{{ app.user.gymId }}">My Gym</a>
      <li><a href="/#/user/{{ app.user.id }}/workout/">Record Workout</a></li>
      <li><a href="/#/user/{{app.user.id }}/gym/{{ app.user.gymId }}/plan">Workout Plan</a></li>
    </ul>
  </li>

  <li ng-if="app.user.id" ng-menu="food-child">
    <a href="javascript://">Food</a>
  </li>

  <li class="submenu hide-animate" data-menu="food-child">
    <ul>
      <li><a href="/#/user/{{ app.user.id }}/food">Overview</a></li>
      <li><a href="/#/user/{{ app.user.id }}/food/create">Record Food</a></li>
      <li><a href="/#/user/{{ app.user.id }}/food/macros">Macros</a></li>
      <li><a href="/#/user/{{ app.user.id }}/food/macros/update">Adjust Macros</a></li>
    </ul>
  </li>

  <li>
    <a href="/#/help">Help</a>
  </li>
</ul>
