<a href="/#/home" class="logo">
  <i class="heart large"></i> Helt
</a>

<ul>
  <li>
    <a href="/#/dashboard">Dashboard</a>
  </li>

  <li>
    <a href="javascript://" ng-menu="gym-child">Gym</a>
  </li>

  <li class="submenu hide-animate" data-menu="gym-child">
    <ul>
      <li ng-if="!user.gymId"><a href="/#/gym/">Find a Gym</a></li>
      <li ng-if="app.user.gymId"><a href="/#/gym/{{ app.user.gymId }}"></a>
    </ul>
  </li>

  <li>
    <a href="/#/food">Food</a>
  </li>

  <li>
    <a href="/#/help">Help</a>
  </li>
</ul>
